.form {
    display: none;
    padding: 40px 0;
    text-align: left;
    p {
        margin-bottom: 1rem;
    }
    .mktoForm {
        width: 100% !important;
        .mktoLabel {
            display: block !important;
            width: 100% !important;
            font-size: .75rem;
            font-family: $font;
        }
        .mktoGutter,
        .mktoOffset {
            display: none !important;
        }
        .mktoFormCol,
        .mktoFieldWrap {
            width: 100% !important;
        }
        .mktoField {
            width: 100% !important;
            display: block !important;
            background-color: rgba(255, 255, 255, 0);
            padding: 10px 0;
            font-size: 1rem;
            border: 0;
            border-bottom: 2px solid #000000;
            margin-bottom: 1rem;
            transition: all ease-out .25s;
            outline: none;
            font-family: $font;
            &:focus {
                border-bottom-color: $blue;
            }
        }
        .mktoFormRow {
            &:nth-of-type(odd) {
                display: inline-block !important;
                width: 49% !important;
                float: none !important;
                margin-right: 2% !important;
                @media only screen and (max-width: 900px) {
                    width: 100% !important;
                }
            }
            &:nth-of-type(even) {
                width: 49% !important;
                float: none !important;
                display: inline-block !important;
                @media only screen and (max-width: 900px) {
                    width: 100% !important;
                }
            }
        }
        .mktoButtonRow {
            width: 50% !important;
            display: block !important;
            @media only screen and (max-width: 900px) {
                width: 100% !important;
            }
        }
        .mktoButtonWrap {
            margin: 0 !important;
            button {
                display: block !important;
                width: 100% !important;
                padding: 10px !important;
                font-size: 1rem !important;
                background-color: $blue !important;
                background-image: none !important;
                border: 0 !important;
                font-family: $font;
                text-transform: uppercase;
                transition: all ease-out .25s;
                &:hover {
                    background-color: darken($blue, 15%) !important;
                }
            }
        }
    }
}