.header {
    padding-top: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 150px;
    overflow: hidden;
    background-image: url(./assets/img/17123_dark-bg-img.jpg);
    background-size: cover;
    background-position: center;
    .logo {
        position: relative;
        top: 0;
        left: 0;
        img {
            max-width: 200px;
            display: inline-block;
            vertical-align: middle;
        }
        .divider {
            width: 1px;
            height: 75px;
            display: inline-block;
            background-color: #fff;
            vertical-align: middle;
            margin: 0 20px;
        }
        h1 {
            display: inline-block;
            vertical-align: middle;
            color: #ffffff;
            font-weight: normal;
        }
    }
    .learn {
        position: fixed;
        top: 20px;
        right: 0;
        a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 30px;
            background-color: $orange;
            transition: all ease-out .25s;
            &:hover {
                background-color: darken($orange, 10%);
            }
        }
    }
    .text_block {
        width: 60%;
        margin-bottom: 3rem;
        text-align: left;
        margin-top: 100px;
        p, h1, h2 {
            color: #ffffff;
        }
        h1 {
            font-weight: 900;
            letter-spacing: 1px;
        }
    }
}