//Widths

$wideMax: 1200px;
$narrowMax: 600px;

//Colors

$primaryGray: rgb(75,75,75);
$secondaryGray: rgb(200,200,200);
$navy: #00657e;
$red: #d80021;
$green: #00ad56;
$purple: #aa0068;
$orange: #f76800;

//Padding

$smallPadding: 10px;
$largePadding: 20px;

//Transition

$standardTransition: all ease-out .25s;