//Widths

$wideMax: 1400px;
$narrowMax: 600px;

//Font

$font: 'Roboto', sans-serif;

//Colors

$primaryGray: rgb(75,75,75);
$secondaryGray: rgb(200,200,200);
$blue: #00aeef;
$navy: #00657e;
$red: #d80021;
$green: #00ad56;
$purple: #aa0068;
$orange: #f76800;

//Padding

$smallPadding: 10px;
$largePadding: 20px;

//Body Background

body {
    background-image: url('./assets/img/17123_PR_background-image.jpg');
    background-size: cover;
}