* {
    box-sizing: border-box;
    backface-visibility: hidden;
}

.bold {
    font-weight: 900;
}
.light {
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: $wideMax;
}